<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Try C# by Pac-Dessert1436</title>
    <base href="~/" />
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="https://unpkg.com/monaco-editor@0.50.0/min/vs/editor/editor.main.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        @RenderBody()
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="https://unpkg.com/monaco-editor@0.50.0/min/vs/loader.js"></script>
    <script>
        (function() {
            window.monacoEditorLoaded = false;
            window.monaco = null;
            
            function loadMonaco() {
                if (typeof require !== 'undefined') {
                    require.config({
                        paths: {
                            'vs': 'https://unpkg.com/monaco-editor@0.50.0/min/vs'
                        },
                        waitSeconds: 10
                    });
                    
                    require(['vs/editor/editor.main'], function(monaco) {
                        console.log('Monaco Editor loaded successfully');
                        window.monaco = monaco;
                        window.monacoEditorLoaded = true;
                    });
                } else {
                    setTimeout(loadMonaco, 100);
                }
            }
            
            loadMonaco();
        })();
    </script>
    <script src="js/site.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>