@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="top-row px-4 py-3">
        <h1 class="mb-0">{<b>Try C#</b>} Compile and Run C# Code Online</h1>
        <a href="https://github.com/Pac-Dessert1436/TryCSharp" target="_blank" class="btn btn-link">
            See GitHub Repository
        </a>
    </div>

    <article class="content px-4">
        @Body
    </article>
</div>